<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="springCourse/musicPlayer.properties"/>
    <bean id="musicBean"
          class="springJujaCourse.springCourse.RockMusic">
    </bean>
    <!--    <bean id="classicBean"-->
    <!--          class="springJujaCourse.springCourse.ClassicalMusic">-->
    <!--    </bean>-->
    <bean id="musicPlayer"
          class="springJujaCourse.springCourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
    <!--    <bean id="classicMusic"-->
    <!--          class="springJujaCourse.springCourse.MusicPlayer">-->
    <!--        <constructor-arg ref="classicBean"/>-->
    <!--    </bean>-->
</beans>