<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="musicBean"
          class="springJujaCourse.springCourse.RockMusic">
    </bean>
    <bean id="classicBean"
          class="springJujaCourse.springCourse.ClassicalMusic">
    </bean>
    <bean id="musicPlayer"
          class="springJujaCourse.springCourse.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>
    <bean id="classicMusic"
          class="springJujaCourse.springCourse.MusicPlayer">
        <constructor-arg ref="classicBean"/>
    </bean>
</beans>