<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageRenderer"
          class="springDemo.kz.zhelezyaka.MessageRenderer">
        <constructor-arg name="message" ref="message"/>
    </bean>
    <bean id="message"
          class="springDemo.kz.zhelezyaka.HelloMessage">
        <constructor-arg name="text" value="Vladimir"/>
    </bean>

</beans>